@import "base.css";



@font-face {
    font-family: 'iconfont';  /* project id 563226 */
    src: url('http://at.alicdn.com/t/font_563226_ho15y2jv32uzncdi.eot');
    src: url('http://at.alicdn.com/t/font_563226_ho15y2jv32uzncdi.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_563226_ho15y2jv32uzncdi.woff') format('woff'),
    url('http://at.alicdn.com/t/font_563226_ho15y2jv32uzncdi.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_563226_ho15y2jv32uzncdi.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
}
i{
    font-style: normal;

}

.home_slider{
    width: 100%;
    height:600px;
    position: relative;
}
.home_slider ul{
    width: 100%;
    height: 100%;
}
.home_slider ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: none;

}
.home_slider ul li.active{
    display: block;
}
.home_slider ul img{
    display: block;
    width: 100%;
    height: 100%;

}
.header{
    width: 100%;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
}
.header .logo{
    display: block;
    color: #131313;
    font-size: 13px;
    text-decoration: none;
    margin: 30px 0;
}
.header .logo p{
    font-size: 25px;
    color: white;
}
.menu{
    max-width: 100%;
    height: 25px;
    margin:35px 0;
    display: flex;
    justify-content: flex-end;
}
.dropdown{
    margin-left: 17px;
    float: left;
}
.icon1{
    font-size: 10px;
    color: #fff;
    margin-left: 10px;
    position: relative;
}
.inzi{
    width: auto;
    height: auto;
}
.inzi .inhidden{
    width:160px ;
    height: 152px;
    position: absolute;
    top:100%;
    left:0;
    z-index: 1000;
    padding:5px 0;
    /*margin: 24px 0;*/
    font-size: 14px;
    text-align: left;
    background: #fff;
    display: none;

}
.inzi:hover .inhidden{
    display: block;
}
.inzi .inhidden .inhizi{
    display: block;
    padding: 5px 15px ;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-right: 20px;
}
.inzi .inhidden .inhizi:hover{
    color: lawngreen;
 }
.menu .dropdown a{
    display: block;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    font-weight: 500;
    float:left;
}
.tp_wrap{
    height: 194px;
    position: absolute;
    /*left: 400px;*/
    top:150px;
    /*padding-right:20px ;*/
}
.tp_wrap h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    line-height: 122px;
/*font-size: 150px;*/
}
.btn_box{
    width: 80px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 20px;

}
.yuandian{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    float: left;
    margin-right: 11px;
}
.yuandian.active{
    background: white;
}
.se_white{
    width: 100%;
    height: auto;
    padding:96px 0 0;

}
.list_box{
    max-width: 1100px;
    margin-left: 50px;
}
.se_white ul{
    /*width: 1100px;*/
    height: auto;
    overflow: hidden;
    margin: 0;
    padding-right: 10px;
}
.se_white li{
    display: inline-block;
    /*width: 527px;*/
    /*height: 627px;*/
    margin-bottom: 30px;

}
.se_white li:nth-child(2){
    /*width: 497px;*/
    /*height: 350px;*/
    margin-bottom: 30px;
}
/*.se_white li:nth-child(3){*/
    /*width: 497px;*/
    /*height: 252px;*/
/*}*/
.img_box1{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.zhezhao1{
    width: 100%;
    height: 100%;
    background: #131313;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    transition: all 0.3s;
    padding-top:220px ;
}
.zhezhao1 h2{
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}
.zhezhao1 P{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.zhezhao1:hover{
    opacity: 1;
}
.img_box1 img{
    display: block;
    width: 100%;
    height: 100%;
}
.img_box2{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.zhezhao2{
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    transition: all 0.3s;
    padding-top: 100px;
    overflow: hidden;
}
.zhezhao2 h2{
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}
.zhezhao2 P{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.zhezhao2:hover{
    opacity: 1;
}
.img_box2 img{
    display: block;
    width: 100%;
    height: 100%;
}
.img_box3{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.zhezhao3{
    width: 100%;
    height: 100%;
    background: forestgreen;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    transition: all 0.3s;
    padding-top: 65px;
}
.zhezhao3 h2{
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}
.zhezhao3 P{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.zhezhao3:hover{
    opacity: 1;
}
.img_box3 img{
    display: block;
    width: 100%;
    height: 100%;
}
/*.se_white li:nth-child(4){*/
    /*width: 1024px;*/
    /*height: 372px;*/
/*}*/
.img_box4{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.zhezhao4{
    width: 100%;
    height: 100%;
    background: #131313;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    transform-function: all 2s;
    padding-top: 110px;
    transition: all 0.3s;
}
.zhezhao4 h2{
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}
.zhezhao4 P{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.zhezhao4:hover{
    opacity: 1;
}
.img_box4 img{
    display: block;
    width: 100%;
    height: 100%;
}
.img_box5{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.zhezhao5{
    width: 100%;
    height: 100%;
    background: forestgreen;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    transform-function: all 2s;
    padding-top: 200px;
    transition: all 0.3s;
}
.zhezhao5 h2{
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}
.zhezhao5 P{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.zhezhao5:hover{
    opacity: 1;
}
.img_box5 img{
    display: block;
    width: 100%;
    height: 100%;
}
.se_white li:nth-child(6){
    /*width: 497px;*/
    /*height: 350px;*/
    margin-bottom: 30px;
}
/*.se_white li:nth-child(7){*/
    /*width: 497px;*/
    /*height: 252px;*/
/*}*/
.img_box6{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.zhezhao6{
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    transition: all 0.3s;
    padding-top: 100px;
    overflow: hidden;
}
.zhezhao6 h2{
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}
.zhezhao6 P{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.zhezhao6:hover{
    opacity: 1;
}
.img_box6 img{
    display: block;
    width: 100%;
    height: 100%;
}
.img_box7{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.zhezhao7{
    width: 100%;
    height: 100%;
    background: darkred;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    transition: all 0.3s;
    padding-top: 65px;
    overflow: hidden;
}
.zhezhao7 h2{
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}
.zhezhao7 P{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.zhezhao7:hover{
    opacity: 1;
}
.img_box7 img{
    display: block;
    width: 100%;
    height: 100%;
}
.back_img{
    width: 100%;
    height: 535px;
    padding: 96px 0;
    background-image: url("../img/bigbanner.jpg");
    margin-top: 50px;
    position: relative;
}
.back_text{
    text-align: center;
}
.back_text span{
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    padding-bottom: 10px;
}
.back_text h2{
    font-weight: 900;
    padding-bottom: 24px;
    color: white;
    font-size: 50px;
}
.back_text p{
    padding-bottom: 24px;
    /*max-width: 80%;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: white;
    margin-top: 30px;
}
.back_text .btn_white{
    display: block;
    width: 93px;
    height: 43px;
    border: 2px solid white;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: 400;
}
.back_text .btn_white:hover{
    background: white;
    color: black;
    transition: all 1s;
}
.semi{
    width: 100%;
    height: auto;
    padding: 96px 0;
    background: #F4F4F4;
}
.semi_text{
    text-align: center;
}
.semi_text small{
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 14px;
    display: block;
}
.semi_text h3{
    font-size: 42px;
    margin-bottom: 24px;
    font-weight: bold;
}
.semi_text p{
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 26px;
    margin-bottom: 24px;
    font-size: 21px;

}
.widget{
    width: 100%;
    height: auto;
}
.wid_1{
    max-width: 338px;
    height: 200px;
    background: pink;
}
.wid_1 a{
    display: block;
    width: 100%;
    height: 100%;
}
.wid_1 a img{
    display: block;
    width: 100%;
    height: 100%;
}
.flowwer{
    text-align: center;
}
.btn_link{
    display: block;
    color: #131313;
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 30px;
    font-weight: 600;

}
.btn_link:hover{
    color: forestgreen;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 467px;
    background: #FAFAFA;
    padding: 96px 0;

}
.news{
    text-align: center;
    margin-bottom: 50px;
}
.news_head{
    height: 93px;
}
.news_head h4{
    font-size: 22px;
    margin-bottom: 24px;

}
.news_head p{
    max-width: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    line-height: 26px;
    margin-bottom: 24px;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #5E5E5E;
}
.animate{
    width: 100%;
    height: 75px;
    padding: 0 15px;
    margin:24px 0;
}
.news_form{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    text-align: center;
    display: flex;
}
.in_control{
    width: 380px;
    height: 50px;
    border:1px solid #9D9D9D ;
    font-size: 14px;
    padding: 12px;
}
.in_control:focus{
    outline: none;
}
.news_form button{
    background: #131313;
    color: white;
    height: 50px;
    font-size: 12px;
    padding: 0 12px;
    font-weight: 900;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
    border: none;
}
.news_form button:focus{
    outline: none;
}
.news_form button:hover{
   background:darkgreen;
}
hr{
    display: block;
    width: 100%;
    background: #EEEEEE;
}
.ft_left{
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    color:#131313;

}
.ft_left p{
    color: #2F2F2F;
    font-size:13px;
}
.ft_right{
    text-align: center;
    margin-left: auto;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.ft_right a{
    font-size: 10px;
    font-weight:600;
    color: #131313;
    text-align: center;
    line-height: 30px;
}
.ft_right a:hover{
    color: darkgreen;
    text-decoration: none;
}
/*响应式开始*/
/*pc 大屏大于1200px*/
@media screen and (min-width: 1200px){
    .se_white ul {
        mx-width: 1100px;
    }
    .se_white li{
        width: 527px;
        height: 627px;
    }
    .se_white li:nth-child(2){
        width: 497px;
        height: 350px;
    }
    .se_white li:nth-child(3){
        width: 497px;
        height: 252px;
    }
    .se_white li:nth-child(4){
        width: 1024px;
        height: 372px;
    }
    .se_white li:nth-child(6){
        width: 497px;
        height: 350px;
    }
    .se_white li:nth-child(7){
        width: 497px;
        height: 252px;
    }
    .tp_wrap h2{
        font-size: 150px;
    }
    .tp_wrap{
        left: 400px;
    }

}
/*pc 小屏  大于992px小于1200px*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    .se_white ul {
        max-width: 1100px;
    }
    .se_white li{
        width: 830px;
        height: 1000px;
    }
    .se_white li:nth-child(2){
        width: 830px;
        height: 585px;
    }
    .se_white li:nth-child(3){
        width: 830px;
        height: 420px;
    }
    .se_white li:nth-child(4){
        width: 830px;
        height: 302px;
    }
    .se_white li:nth-child(6){
        width: 830px;
        height: 381px;
    }
    .se_white li:nth-child(7){
        width: 830px;
        height: 652px;
    }
    .tp_wrap h2{
        font-size: 130px;
    }
    .tp_wrap{
        left: 350px;
    }
}
/*平板端 大于768px 小于992px*/
@media screen and (min-width: 768px) and (max-width: 992px){
    /*.se_white ul {*/
        /*max-width: 1100px;*/
    /*}*/
    .tp_wrap h2{
        font-size: 100px;
    }
    .tp_wrap{
        left: 224px;
    }
}
/*移动端 小于768px*/
@media screen and (max-width: 768px){
    /*.se_white ul {*/
        /*max-width: 1100px;*/
    /*}*/
    .tp_wrap h2{
        font-size: 80px;
    }
    .tp_wrap{
        left: 140px;
    }
}
